# requirements.txt

fastapi
uvicorn
soundfile
boto3
botocore
numpy

# ------ PyTorch stack ------
# Chúng ta dùng torch 2.1.0 thì phải xài torchvision 0.16.2 và torchaudio 2.1.0
torch>=2.6.0
torchaudio>=2.6.0
transformers
torchvision>=0.15.0
safetensors

# other utils
einops
num2words
soxr
packaging
einx
accelerate>=0.20.3
